.stopwatch-container {
  border: 2px solid #333;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  min-width: 300px;
  text-align: center;
}

.stopwatch-name {
  font-size: 24px;
  margin-bottom: 10px;
}

.stopwatch-time {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: monospace;
}

.stopwatch-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.stopwatch-buttons button {
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 4px 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 16.6%;
  font-size: 4vw;
}

.stopwatch-buttons button:hover {
  background-color: #0056b3;
}

.journal-list {
	text-align: left;
}